
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=VT323&display=swap');

body {
    background-color:  rgba(255, 81, 81, 0.715);
    font-family: VT323, arial;
}

.header {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
}

.pokemon-array-container {
    margin: auto; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 1rem; 
}

.pokemon-article {
    background-color: lightgrey;
    display: flex; 
    flex-direction: column;
    padding: 0 1rem 1rem 1rem; 
    border-radius: 0.6rem;
    text-align: center;
    width: 8rem; 
    font-size: 1.5rem;
    font-weight: 300;
}